* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Segoe UI',  sans-serif;
}

:root{
    --OneColor:#166FE5;
    --SecColor: #43c12a;
    --BgColor: #F0F2F5;
    
}

body{
    max-width: 100%;
    height: 100vh;
    background-color: var(--BgColor);
}

main{
    height: 80vh;
}

main .container{
   margin-top: 3.5rem;
}

main .box-left{

}


.box-left p, .paragrafo p, .paragrafo p a{
    display: none;
}



form .box-left{
  
    
}

h1{
    margin-bottom: 2rem;
    font-size: 3.5rem;
    text-align: center;
    color: var(--OneColor);
    -webkit-text-stroke: 2px var(--OneColor);
    transition: 1s ease-in-out;
    cursor: pointer;
}

h1:hover {
    color: #fff;

}

form .box-right{
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin: 0rem 1rem;
   
}

form .box-right input{
    font-size: 1rem;
    padding: .8rem;
    border: 1px solid hsl(0, 0%, 80%);
    border-radius: 5px;
}

input[type=email], input[type=password]{
    font-weight: 500;

}

input[type=email]:focus, input[type=password]:focus{
    opacity: 0.7;
    outline-color: var(--OneColor);
    border:  1px 11px 10px var(--OneColor);
}

input[type=submit]{
    background-color: var(--OneColor);
    
}


input[type=button]:hover{
    background-color: hsl(110, 67%, 41%);
}

input[type=button]{
    background-color: var(--SecColor);
    
}

input[type=submit], input[type=button]{
    padding: .6rem;
    border: none;
    border-radius: 7px;
    color: #fff;
    font-weight: 700;
    font-size: 1.2rem;

}

.esqueceu-criar a, input[type=submit], input[type=button]{
    cursor: pointer;

}
form .box-right .esqueceu-criar{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}


.esqueceu-criar a{
    color: #18A1F6;

}

hr{
    width: 100%;
    opacity: 0.5;
}


.paragrafo{
    text-align: center;
    margin-top: .8rem;
}


.paragrafo a{
   
    color: #000;
     font-weight: 500;
}

footer{
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(216, 20%, 85%);
}

footer p{
    color: rgb(0, 0, 0);
}

footer p a{
    color: var(--OneColor);
    font-weight: 500;
    
}


@media only screen and (min-width: 800px) {
  
    body{
        
    }
    
    main{
        height: 70vh;
     
    }
    
    main .container{
        display: flex;
        justify-content:space-around;
        align-items: center;
        margin-top: 3.5rem;
       
    }
    
    main .box-left{
        
    }

    
    
    h1{
        text-align: left;
        font-size: 4rem;
        margin-left: 0;
        margin-bottom: .4rem;
    }
    
    .box-left p{
        font-size: 25px;
        font-weight: 500;
    }
    
    form{
      background-color: #fff;   
      border-radius: 5px;
      padding: 1rem 0; 
      box-shadow: 4px 4px 16px hsl(0, 0%, 74%);
    }

    .box-right input[type=submit]{
        background-color: var(--OneColor);
    }

    input[type=submit]:hover{
        background-color: hsl(214, 82%, 46%);
    }

    .box-right input[type=button], .box-right input[type=submit]{
        font-size: 22px;
    }

    
    .paragrafo{
        
    }
    
    .paragrafo a:hover, .esqueceu-criar a:hover{
        text-decoration: underline;
    }

    .box-left p, .paragrafo p, .paragrafo p a{
        display: initial;
    }
    
    footer{
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6rem;
    
}

}



